{% extends 'base.html' %}

{% block content %}

<div class="card p-4 mx-auto" style="max-width: 600px;">

    <h2>Edit Profile</h2>

    <form
        method="POST"
        enctype="multipart/form-data"
    >

        {{ form.hidden_tag() }}

        <label class="mb-2">
            Bio
        </label>

        {{ form.bio(
            class="form-control mb-3",
            rows="4"
        ) }}

        <label class="mb-2">
            Profile Picture
        </label>

        {{ form.profile_pic(
            class="form-control mb-3"
        ) }}

        {{ form.submit(
            class="btn btn-primary"
        ) }}

    </form>

</div>

{% endblock %}