{% extends 'base.html' %}

{% block content %}

<div class="card p-4 mb-4">

    <form
        method="POST"
        enctype="multipart/form-data"
    >

        {{ form.hidden_tag() }}

        {{ form.content(
            class="form-control mb-3",
            rows="3",
            placeholder="What's happening?"
        ) }}

        {{ form.image(
            class="form-control mb-3"
        ) }}

        {{ form.submit(
            class="btn btn-primary"
        ) }}

    </form>

</div>

{% for post in posts %}

<div class="card p-4 mb-4">

    <div class="d-flex align-items-center mb-3">

        <img
            src="{{ url_for('static',
            filename='uploads/' + post.author.profile_pic) }}"
            width="50"
            height="50"
            class="rounded-circle me-3"
        >

        <a
            href="{{ url_for('profile',
                             username=post.author.username) }}"
            class="text-decoration-none text-light">

            <strong>{{ post.author.username }}</strong>

        </a>

    </div>

    <p>{{ post.content }}</p>

    {% if post.image %}

        <img
            src="{{ url_for('static',
            filename='uploads/' + post.image) }}"
            class="img-fluid rounded mb-3"
        >

    {% endif %}

    <a
        href="{{ url_for('like',
                         post_id=post.id) }}"
        class="btn btn-outline-light btn-sm mb-3">

        ❤️ Like ({{ post.liked_by|length }})

    </a>

    <form
        action="{{ url_for('comment',
                           post_id=post.id) }}"
        method="POST"
    >

        <input
            type="text"
            name="text"
            class="form-control mb-2"
            placeholder="Write a comment"
        >

        <button class="btn btn-primary btn-sm">
            Comment
        </button>

    </form>

    <hr>

    {% for comment in post.comments %}

        <div class="mb-2">

            <strong>
                {{ comment.author.username }}
            </strong>

            {{ comment.text }}

        </div>

    {% endfor %}

</div>

{% endfor %}

{% endblock %}