{% extends 'base.html' %}

{% block content %}

<div class="card p-4 mx-auto" style="max-width: 400px;">

    <h2>Login</h2>

    <form method="POST">

        {{ form.hidden_tag() }}

        {{ form.username(
            class="form-control mb-3",
            placeholder="Username"
        ) }}

        {{ form.password(
            class="form-control mb-3",
            placeholder="Password"
        ) }}

        {{ form.submit(
            class="btn btn-success w-100"
        ) }}

    </form>

    <a
        href="{{ url_for('register') }}"
        class="mt-3">

        Create account

    </a>

</div>

{% endblock %}